################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ticketdesk-develop/TicketDesk/BLL
